<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Angular</title><path d="M9.93 12.645h4.14L12 7.08M12 1.637l9.522 3.467-1.272 14.024-8.25 4.837-8.25-4.837L2.478 5.104 12 1.637zm0 2.488L5.16 18.633h2.196l1.14-2.883h7.208l1.14 2.883h2.196L12 4.125z"/></svg>
